﻿@{
    var concerts = ViewBag.Concerts as List<Concert>;
    var artists = ViewBag.Artists as List<Artist>;
}
<h2>Concerts</h2>

<p>
    <a href="@Url.Action("Create", "Concert")" class="btn btn-primary create-button"> New Concert</a>
</p>

@if (concerts != null )
{
    <div class="row">
        @foreach (var concert in concerts)
        {
            
            <div class="col-md-4 mb-4">
                <div class="card h-100 concert-card">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => concert.Title)</h5>
                        <p class="card-text">
                            <strong>Artist:</strong> @Html.DisplayFor(modelItem => concert.Artist.Name)<br />
                            <strong>Date:</strong> @Html.DisplayFor(modelItem => concert.Date)<br />
                            <strong>Description:</strong> @Html.DisplayFor(modelItem => concert.Description)
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("Details", "Concert", new { id = concert.Id })" class="btn btn-info btn-sm animate__animated animate__fadeIn">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No concerts found</p>
}

<p class="border-top"></p>
<p>
    <a href="@Url.Action("Create", "Artist")" class="btn btn-primary create-button"> New Artist</a>
</p>
@if (artists != null )
{
    <div class="row">
        @foreach (var artist in artists)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 concert-card">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => artist.Name)</h5>
                        <p class="card-text">
                            <strong>Artist:</strong> @Html.DisplayFor(modelItem => artist.Categorie)<br />
                            
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("Details", "Artist", new { id = artist.Id })" class="btn btn-info btn-sm animate__animated animate__fadeIn">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No concerts found</p>
}
