﻿@model Festival_WebApp.Models.Artist 

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Categorie)
        @Html.TextBoxFor(model => model.Categorie, new { @class = "form-control" })
    </div>
    


    <!-- Add other fields as needed -->

    <input type="submit" value="Create" 
        class="btn btn-primary "
        style="padding: 12px 40px;margin-top:12px; border-radius: 8px; background-color: #007bff; color: #fff; border: none; transition: background-color 0.3s ease;" />
}


