﻿@model Festival_WebApp.Models.Artist
<style>
    .details-container {
        background-color: #333; /* White container background */
        padding: 20px; /* Add padding for content */
        border-radius: 8px; /* Rounded corners for container */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    }
    p {
        margin-bottom: 8px; /* Add space between paragraphs */
    }

    .back-link {
        color: #007bff; /* Link color */
        text-decoration: none; /* Remove underline */
    }

        .back-link:hover {
            text-decoration: underline; /* Add underline on hover */
        
       }

    h2 {
        color: #eee; /* Header color */
        margin-bottom: 20px; /* Add space below header */
    }

    h4 {
        color: #eee; /* Subheader color */
        margin-bottom: 10px; /* Add space below subheader */
    }
</style>
<h2>Concert Details</h2>

<div class="details-container">
    <h4>Title: @Html.DisplayFor(model => model.Name)</h4>
    <p>Author: @Html.DisplayFor(model => model.Categorie)</p>
  

</div>

<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "back-link" })
</p>
