﻿@model IEnumerable<Festival_WebApp.Models.Artist>

    <style>
    .fa {
        font-size:22px;
        color:white;
        margin-right: 5px; /* Add spacing between icon and text */
    }
    </style>
<h2>Artists</h2>

<p>
    @Html.ActionLink("Create New", "Create","Artist")
</p>

<table class="table">
    <tr style="text-align: center;
        margin-top: 20px; color:#eee;">
       
        <th>Name</th>
        <th>Categori</th>
   
        <th></th>
    </tr>
   
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr style="padding: 12px 40px;margin-top:12px;color: #fff;">
               
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Categorie)</td>
       
                <td>
                    <a href="@Url.Action("Edit", "Artist", new { id = item.Id })" class="btn btn-secondary"><i class='fas fa-edit'></i> Edit</a> |
                    <a href="@Url.Action("Details", "Artist", new { id = item.Id })" class="btn btn-info"><i class='fas fa-info-circle'></i> Details</a> |
                    <a href="@Url.Action("Delete", "Artist", new { id = item.Id })" class="btn btn-danger"><i class='fas fa-trash-alt'></i> Delete</a>

                </td>
            </tr>
        }
    }
    else
    {
        <p>No artists found</p>
    }

</table>

