html {
  font-size: 14px;
}
.create-button {
    background-color: #007bff; /* Blue color for the button */
    color: #fff; /* White text color */
    border: none;
    padding: 12px 22px; /* Adjust button padding for larger size */
    border-radius: 8px; /* Rounded corners */
    text-decoration: none;
    transition: background-color 0.3s ease;
  
    text-align: center; /* Center text */
}

body {
    background-color: #282c35; /* Dark background color */
    color: #ddd; /* Light text color */
}

/* Styling for concert cards */
.concert-card {
    background: #353c48; /* Slightly lighter card background */
    color: #eee; /* White text color for cards */
}

.create-button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}
.fa {
    margin-right: 5px; /* Add spacing between icon and text */
}

/* Center-align the "Concerts" title */
h2 {
    text-align: center;
    margin-top: 20px; /* Add some space at the top */
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
div{
    marrgin-top:12px;
}
html {
  position: relative;
  min-height: 100%;
}

