﻿@model Festival_WebApp.Models.Concert 

<h2>Create</h2>

@section scripts {
    <script>
        $(function () {
            $("#publishDate").datepicker({
                dateFormat: "mm/dd/yy"
            });
        });
    </script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="form-group">
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ArtistId)
        @Html.DropDownListFor(model => model.ArtistId, new SelectList(ViewBag.Artists, "Id", "Name"), "Select Artist", new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Date)
        @Html.TextBoxFor(model => model.Date, new { @class = "form-control", @id = "publishDate" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
    </div>


    <!-- Add other fields as needed -->

    <input type="submit" value="Create" 
        class="btn btn-primary "
        style="padding: 12px 40px;margin-top:12px; border-radius: 8px; background-color: #007bff; color: #fff; border: none; transition: background-color 0.3s ease;" />
}


