﻿@model Festival_WebApp.Models.Concert 
@{
    var artists = ViewBag.Artists as List<Artist>;
}
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    
    <div class="form-group">
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Artist)
        @Html.DropDownListFor(model => model.Artist, new SelectList(ViewBag.Artists, "Id", "Name"), "Select Artist", new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Date)
        @Html.TextBoxFor(model => model.Date, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
    </div>
    
    <!-- Add other fields as needed -->

    <input type="submit" value="Save" class="btn btn-primary" style="padding: 12px 40px;margin-top:12px; border-radius: 8px; background-color: #007bff; color: #fff; border: none; transition: background-color 0.3s ease;" />
}
