﻿
@{
    var concerts = ViewBag.Concerts as List<Concert>;
}

    <style>
    .fa {
        font-size:22px;
        color:white;
        margin-right: 5px; /* Add spacing between icon and text */
    }
    </style>
<h2>Articles</h2>

<p>
    @Html.ActionLink("Create New", "Create","Concert")
</p>

<table class="table">
    <tr style="text-align: center;
        margin-top: 20px; color:#eee;">
       
        <th>Title</th>
        <th>Artist</th>
        <th>Date</th>
        <th></th>
    </tr>
   
    @if (concerts != null)
    {
        foreach (var concert in concerts)
        {
            <tr style="padding: 12px 40px;margin-top:12px;color: #fff;">
               
                <td>@Html.DisplayFor(modelItem => concert.Title)</td>
                <td>@Html.DisplayFor(modelItem => concert.Artist.Name)</td>
                <td>@Html.DisplayFor(modelItem => concert.Date)</td>
                <td>
                    <a href="@Url.Action("Edit", "Concert", new { id = concert.Id })" class="btn btn-secondary"><i class='fas fa-edit'></i> Edit</a> |
                    <a href="@Url.Action("Details", "Concert", new { id = concert.Id })" class="btn btn-info"><i class='fas fa-info-circle'></i> Details</a> |
                    <a href="@Url.Action("Delete", "Concert", new { id = concert.Id })" class="btn btn-danger"><i class='fas fa-trash-alt'></i> Delete</a>

                </td>
            </tr>
        }
    }
    else
    {
        <p>No concerts found</p>
    }

</table>

